<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Discord Clone</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
  </head>
  <body class="bg-[#2C2C37]">
    <!-- Navbar -->
    {% include 'navbar.html' %} {% if messages %} {% for message in messages %}
    {{ message }} {% endfor %} {% endif %}
    <!-- Content -->
    {% block content %} {% endblock %}
  </body>
</html>
