<div class="bg-theme-secondary">
  <p
    class="text-xs font-bold px-3 py-2 text-subtle-white tracking-wide bg-light-lavender"
  >
    {% if flag %} RECENT ACTIVITIES {% else %} RECENT ACTIVITIES by
    @{{user.username}} {% endif %}
  </p>
  <div class="py-1">
    {% for message in room_messages %}
    <div class="rounded border-subtle-purple p-2 m-3 border-[0.3px]">
      <p class="text-xs text-orange-400">
        <a href="{% url 'user-profile' message.user.id %}">@{{message.user}}</a>
      </p>
      <p class="text-xs text-[#78777C] font-medium">
        {{message.created|timesince}} ago
      </p>
      <p class="text-xs text-subtle-white/75">
        replied to room: <br />
        "<a class="text-orange-400" href="{% url 'room' message.room.id %}"
          >{{message.room}}</a
        >"
      </p>
      <div
        class="break-words whitespace-normally mt-2 p-2 rounded bg-theme-primary mx-[3px]"
      >
        <p class="text-xs text-subtle-white/75">
          {{message|truncatechars:100}}
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
