{% extends 'main.html' %} {% block content %}

<div class="flex">
  <div class="flex-auto w-14 mx-2.5">
    {% include 'base/topics_component.html' %}
  </div>

  <div class="flex-auto w-64 mx-2.5">
    <h5>{{room_count}} room(s) available</h5>
    {% if request.user.is_authenticated %}
      <h4><a href="{% url 'create-room' %}">Create Room</a></h4>
    {% endif %}
    {% include 'base/feed_component.html' %}
  </div>

  <div class="flex-auto w-32 mx-2.5">
    {% include 'base/activity_log_component.html' %}
  </div>
</div>

{% endblock %}
