<div class="overflow-y-auto scrollbar-thin rounded bg-theme-secondary">
  <div class="flex text-xs px-3 py-2 bg-light-lavender">
    <p class="text-subtle-white font-bold bg-light-lavender mr-1 tracking-wide">
      PARTICIPANTS
    </p>
    <p class="font-semibold text-orange-400">({{participant_count}} joined)</p>
  </div>

  <hr />
  {% for participant in participants %}
  <div class="m-3">
    <img src="" alt="" />
    <p class="text-sm text-subtle-white">
      <a
        href="{% url 'user-profile' participant.id %}"
        class="text-sm text-orange-400"
      >
        @{{participant}}
      </a>
      ({{participant.first_name}} {{participant.last_name}})
    </p>
  </div>
  {% endfor %}
</div>
