<div class="rounded-md p-3 bg-theme-secondary">
  <div class="flex justify-between items-center mb-3">
    <div class="pl-1">
      <img src="" alt="" />
      <p class="text-subtle-white font-semibold text-lg">{{user.username}}</p>
    </div>
    <a href="{% url 'home' %}">
      <div
        class="flex p-1 bg-orange-500 justify-center items-center h-[30px] w-[60px] rounded-[3px]"
      >
        <p class="text-sm font-medium text-subtle-white">Edit</p>
      </div>
    </a>
  </div>
  <div class="rounded-md p-2 bg-[#2C2C37]">
    <div class="m-1 mb-5">
      <p class="text-subtle-white font-bold text-xs">USERNAME</p>
      <p class="text-subtle-white">@{{user.username}}</p>
    </div>

    <div class="m-1 mb-5">
      <p class="text-subtle-white font-bold text-xs">FIRST NAME</p>
      <p class="text-subtle-white">{{ user.first_name|default:"-" }}</p>
    </div>

    <div class="m-1 mb-5">
      <p class="text-subtle-white font-bold text-xs">LAST NAME</p>
      <p class="text-subtle-white">{{ user.last_name|default:"-" }}</p>
    </div>

    <div class="m-1 text-wrap">
      <p class="text-subtle-white font-bold text-xs">EMAIL</p>
      <p class="text-subtle-white">{{ user.email|default:"-" }}</p>
    </div>
  </div>
</div>
