{% extends 'main.html' %} {% block content %}

<!-- <h2>{{room.name}}</h2>
<p>{{room.description}}</p>

{% if request.user == room.host %}
<a href="{% url 'update-room' room.id %}">Edit</a> |
<a href="{% url 'delete-room' room.id %}">Delete</a>
{% endif %} -->

<div class="flex justify-center">
  <!-- Conversation container -->
  <div class="flex-none">{% include 'base/conversation_component.html' %}</div>

  <!-- Participants container -->
  <div class="fixed h-full w-[200px] right-[5rem]">
    {% include 'base/participants_component.html' %}
  </div>
</div>

{% endblock %}
